# =====================
# Unreal Engine
# =====================

# Build folders
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Optional cache
.vscode/

# Compiled files
*.pdb
*.obj
*.exe
*.dll
*.app
*.lib
*.so
*.dylib

# Logs
*.log

# Config local del usuario
*.suo
*.user
*.userosscache
*.sln.docstates

# Sistema operativo
.DS_Store
Thumbs.db

# Visual Studio
.vs/
.vscode/
*.VC.db
*.VC.opendb